<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <title>Editar evento</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="page">
    <section class="card">
        <h2>Editar evento</h2>

        <form method="POST">
            <input type="text" name="titulo" value="{{ evento.titulo }}" required>
            <input type="text" name="descricao" value="{{ evento.descricao }}">

            <div class="grid">
                <input type="datetime-local" name="data_inicio" value="{{ evento.data_inicio }}" required>
                <input type="datetime-local" name="data_fim" value="{{ evento.data_fim }}" required>
            </div>

            <select name="prioridade">
                <option {{ 'selected' if evento.prioridade == 'Baixa' }}>Baixa</option>
                <option {{ 'selected' if evento.prioridade == 'Média' }}>Média</option>
                <option {{ 'selected' if evento.prioridade == 'Alta' }}>Alta</option>
            </select>

            <button type="submit">Guardar alterações</button>
        </form>
    </section>
</div>

</body>
</html>
